<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.youle.gamebox.ui"
          android:versionCode="3"
          android:versionName="1.3.0"
        >

    <uses-sdk android:minSdkVersion="8"/>
    <application
            android:theme="@style/appthem"
            android:label="@string/app_name"
            android:name=".YouleAplication"
            android:icon="@drawable/youle_logo"
            >
        <meta-data
                android:value="5307032e56240b67e20042db"
                android:name="UMENG_APPKEY"></meta-data>
        <meta-data
                android:value="zd14092438043"
                android:name="UMENG_CHANNEL"/>

        <activity
                android:name=".activity.HomeActivity"
                android:screenOrientation="portrait"
                android:label="@string/app_name"
                android:windowSoftInputMode="stateUnchanged"
                android:theme="@style/Theme.PageIndicatorDefaults"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.CommonActivity"
                android:windowSoftInputMode="adjustResize|stateHidden"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@style/Theme.PageIndicatorDefaults"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.WebViewActivity"
                  android:screenOrientation="portrait"
                ></activity>
        <activity
                android:name=".activity.DownLoadManagerActivity"
                android:theme="@style/Theme.PageIndicatorDefaults"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="com.youle.gamebox.ui.activity.download"></action>
            </intent-filter>

        </activity>
        <activity
                android:name=".activity.SettingActivity"
                android:screenOrientation="portrait"
                ></activity>
        <activity
                android:name=".activity.DisplayBigImageActivity"
                android:screenOrientation="portrait"></activity>
        <activity
                android:name=".activity.MessageActivity"
                android:theme="@style/Theme.PageIndicatorDefaults"
                android:screenOrientation="portrait"
                ></activity>
        <activity
                android:name=".activity.SearchActivity"
                android:screenOrientation="portrait"
                ></activity>
        <activity
                android:name=".activity.GameListActivity"
                android:screenOrientation="portrait"
                ></activity>
        <activity
                android:name=".activity.MyRelationActivity"
                android:screenOrientation="portrait"
                ></activity>
        <activity
                android:name=".activity.GameDetailActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@style/Theme.PageIndicatorDefaults"
                ></activity>
        <activity
                android:name=".activity.CommentMsgBoardActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                ></activity>
        <activity
                android:name=".activity.DyCommentDeletActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                ></activity>
        <activity
                android:name=".activity.GiftActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustUnspecified|stateHidden"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@style/Theme.PageIndicatorDefaults"
                ></activity>
        <activity
                android:name=".activity.GonglueActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.PageIndicatorDefaults"
                android:windowSoftInputMode="adjustUnspecified|stateHidden"
                android:configChanges="orientation|keyboardHidden"
                ></activity>
        <activity
                android:name=".activity.NewsActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.PageIndicatorDefaults"
                android:windowSoftInputMode="adjustUnspecified|stateHidden"
                android:configChanges="orientation|keyboardHidden"
                ></activity>
        <activity
                android:name=".activity.FeedbackActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.PageIndicatorDefaults"
                android:windowSoftInputMode="adjustUnspecified|stateHidden"
                android:configChanges="orientation|keyboardHidden"
                ></activity>
        <activity android:name=".activity.AppDetailActivity"
                  android:screenOrientation="portrait"
                ></activity>
        <activity
                android:name="com.youle.gamebox.ui.activity.DynamicCommentActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:windowSoftInputMode="adjustResize|stateUnspecified"
                android:screenOrientation="portrait"
                >
        </activity>

        <activity
                android:name="com.youle.gamebox.ui.activity.AboutActivity"
                android:screenOrientation="portrait"
                >
        </activity>


        <activity
                android:name=".activity.ComunityActivity"
                android:windowSoftInputMode="adjustUnspecified|stateHidden"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@style/Theme.PageIndicatorDefaults"
                android:screenOrientation="portrait"
                ></activity>

        <receiver android:name="com.ta.util.netstate.TANetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.youle.gamebox.ui.AppBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="chanal"  android:value="zd14092438043"></meta-data>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Include next permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>
