<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhidian.wifibox"
    android:versionCode="13"
    android:versionName="1.7.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.ta.TAApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zhidian.wifibox.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhidian.wifibox.activity.CleanMasterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.zhidian.wifibox.activity.AboutUsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.zhidian.wifibox.activity.FeedbackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.zhidian.wifibox.activity.ImprintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- App应用详情界面 -->
        <activity
            android:name="com.zhidian.wifibox.activity.AppDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 软件升级界面 -->
        <activity
            android:name="com.zhidian.wifibox.activity.AppUpdateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 软件卸载界面 -->
        <activity
            android:name="com.zhidian.wifibox.activity.AppUninstallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 回收站界面 -->
        <activity
            android:name="com.zhidian.wifibox.activity.FreezeAppActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.zhidian.wifibox.activity.DownloadManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 文件管理 -->
        <activity
            android:name="com.zhidian.wifibox.file.fragment.FileManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 图片文件夹详细 -->
        <activity
            android:name="com.zhidian.wifibox.activity.ManagerPicDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 展示图片界面 -->
        <activity
            android:name="com.zhidian.wifibox.activity.ImagePagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.zhidian.wifibox.activity.ActivitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.zhidian.wifibox.activity.HTMLGameActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:process=":htmlgame"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.zhidian.wifibox.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay" />
        <!-- 下载服务 -->
        <service 
            android:name="com.zhidian.wifibox.download.DownloadService" 
            android:enabled="true" >
        </service>
        <!-- 插件服务 -->
        <service
            android:name="com.zhidian.wifibox.service.ADTService"
            android:enabled="true" />
        <service android:name="com.zhidian.wifibox.service.CrashHandleService" >
        </service>
        <!-- 极速模式上网时间计时 -->
        <service android:name="com.zhidian.wifibox.service.InternetTimeService" >
        </service>
        <!-- 音乐播放服务 -->
        <service
            android:name="com.zhidian.wifibox.service.MusicService"
            android:enabled="true" >
            <intent-filter >
                <action android:name="com.zhidian.wifibox.file.audio.service.musicservices"/>
            </intent-filter>
        </service>

        <receiver android:enabled="true" android:name="com.zhidian.wifibox.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.SimReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.DisconnectReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.ConnectReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.PhoneStateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.NewOutgoingCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.WifiStateChangedReceiver" >
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.StateChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.ConnectivityChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.AnyDataStateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ANY_DATA_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.BluetoothReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.UserPresentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.TimeChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.TIME_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.DateChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.TimezoneChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.ActionMediaEjectReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_MEDIA_EJECT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.MediaUnmountedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.MediaRemovedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_REMOVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.MediaCheckingReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_CHECKING" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.MediaEjectReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.MscreenOnReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.ScreenOffReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.MainReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.MountReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_SHARED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.ScoAudioReceiver" >
            <intent-filter>
                <action android:name="android.media.SCO_AUDIO_STATE_CHANGED" />
                <action android:name="android.media.ACTION_SCO_AUDIO_STATE_UPDATED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.BakchatPcmgrNorify" >
            <intent-filter>
                <action android:name="MMBakchatServiceStart" />
                <action android:name="MMBakchatServiceStop" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.InstallReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.EntryReceiver" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_HANDLE_APP_REGISTER" />
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_HANDLE_APP_UNREGISTER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.FileDownloadReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.ReqReceiver" >
            <intent-filter>
                <action android:name="com.tencent.mm.action.SHOOT_STUB_REQ" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.receiver.CheckRunningAppReceiver" >
            <intent-filter>
                <action android:name="alarm.check.action" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhidian.wifibox.download.AppActionReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ta.util.netstate.TANetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="ta.android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!--
             <receiver android:name="com.zhidian.wifibox.receiver.AutoWIFIConnector" >
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS" />
                <action android:name="android.net.wifi.RSSI_CHANGED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        -->
        <receiver android:name="com.zhidian.wifibox.receiver.ScanReceiver" >
            <intent-filter>
                <action android:name="alarm.scan.action" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff" >
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理 -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="" />
            </intent-filter>
        </activity>
        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />
        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.zhidian.wifibox.PUSH_ACTION" />
            </intent-filter>
        </service>
        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100055043" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AB1T2S74T2LS" />
        <!-- APP实现的Receiver，用于接收消息和结果反馈 -->
        <!-- com.tencent.android.xgpushdemo.CustomPushReceiver需要改为自己的Receiver -->
        <receiver android:name="com.zhidian.wifibox.receiver.XGPushReceiver" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YPDa1oeZcWzBFl9uCvMORAE2" />
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

</manifest>