<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartapp.ex.cleanmaster"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <application
        android:name="com.ta.TAApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zhidian.wifibox.activity.CleanMasterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>